@using MagiCommon
@using Microsoft.Extensions.Logging

@inject ITokenProvider TokenProvider
@inject IMagiCloudAPI MagicApi
@inject ILogger<FilesComponent> Logger


<h3>Files</h3>
@if (files?.Files?.Any() == true)
{
    @foreach (var file in files.Files)
    {
        <a href="@GetFileContentUri(file.Id)" target="_blank">@file.GetFullPath() (@((file.Size/1024.0).ToString("N1")) kiB - @file.MimeType)</a>
        <br />
    }
}

