@using MagiCommon
@using MagiCommon.Models

@inject IMagiCloudAPI MagicApi

<Form>
    <TextEdit Placeholder="Search..." @bind-Text="SearchQuery" Float="Float.Start" Width="Width.Is75"></TextEdit>
    <Button Color="Color.Primary" Clicked="@Search" Type="ButtonType.Submit" PreventDefaultOnSubmit Width="Width.Auto">Search</Button>
</Form>


@code {
    [Parameter]
    public List<SearchResult> Results { get; set; }

    [Parameter]
    public EventCallback<List<SearchResult>> OnSearch { get; set; }

    public string SearchQuery { get; set; }

    public async Task Search()
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            Results = await MagicApi.SearchAsync(SearchQuery);
        }
        else
        {
            Results = await MagicApi.GetFilesAsync(false);
        }
        await OnSearch.InvokeAsync(Results);
    }
}
