@using MagiCommon
@using Microsoft.Extensions.Logging
@using System 
@using System.IO

@inject ITokenProvider TokenProvider
@inject IMagiCloudAPI MagicApi
@inject ILogger<Upload> Logger

<h3>Upload Files</h3>

<p>
    <InputFile OnChange="@LoadFiles" multiple />
</p>

@if (totalUpload > 0)
{
    @if (!finished)
    {
        <p>Uploaded... @uploaded / @totalUpload</p>
    }
    else
    {
        <p>Upload complete!</p>
    }
}
@if (errorMessages.Any())
{
    <ul>
    @foreach (var msg in errorMessages)
    {
        <li style="color:red">@msg</li>
    }
    </ul>
}

@code {
    private long maxFileSize = 1024 * 1024 * 256; //256 MiB/0.25 GiB
    private int maxAllowedFiles = 50;
    private int uploaded = 0;
    private int totalUpload = 0;
    private bool finished = false;
    private List<string> errorMessages = new();

    [Parameter]
    public EventCallback OnUploadComplete { get; set; }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        uploaded = 0;
        finished = false;
        errorMessages.Clear();
        var files = e.GetMultipleFiles(maxAllowedFiles);
        totalUpload = files.Count;

        foreach (var file in files)
        {
            try
            {
                var info = new MagiCommon.Models.ElasticFileInfo
                {
                    Name =  Path.GetFileNameWithoutExtension(file.Name),
                    Extension = Path.GetExtension(file.Name).TrimStart('.'),
                    MimeType = file.ContentType,
                    LastModified = file.LastModified,
                    Size = file.Size
                };
                await MagicApi.UploadFileAsync(info, file.OpenReadStream(maxFileSize));
                uploaded++;
                this.StateHasChanged();
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", 
                    file.Name, ex.Message);
                errorMessages.Add($"{file.Name}: Error {ex.Message}");
            }
        }
        finished = true;
        await OnUploadComplete.InvokeAsync();
    }
}