@page "/"

<Login>
    <FilesComponent/>
</Login>

<div>
    <hr>
    <a href="http://magico13.net:8080/job/MagiCloud/job/main/lastSuccessfulBuild/artifact/zMagiConsole/MagiConsole.zip">Download MagiConsole For Desktop Sync</a>
</div>