@page "/"

<Login>
    <FilesComponent/>
</Login>

<hr>
<div>
    <h5>Sync Files To Your Desktop</h5>
    <a href="http://magico13.net:8080/job/MagiCloud/job/main/lastSuccessfulBuild/artifact/zMagiConsole/MagiConsole.zip">Download MagiConsole</a>
</div>