name: Main CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Build, test, and publish the code
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Publish MagiCloud
    - name: Publish MagiCloud
      run: dotnet publish MagiCloud/MagiCloud.csproj -c Release -o ./publish-magicloud -r linux-x64 --self-contained false
    - name: Upload artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: magicloud
        path: ./publish-magicloud
        retention-days: 1

    # Publish GogglesApi
    - name: Publish GogglesApi
      run: dotnet publish GogglesApi/GogglesApi.csproj -c Release -o ./publish-goggles -r linux-x64 --self-contained false
    - name: Upload artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: goggles
        path: ./publish-goggles
        retention-days: 1

  docker:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - name: Download artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
  # Build docker images for MagiCloud and GogglesApi, deploy them to Docker Hub
    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ vars.DOCKER_USERNAME }}" --password-stdin
    - name: Build and push MagiCloud image
      run: |
        cd magicloud
        docker build -f ../Dockerfile -t magicloud .
        docker tag magicloud ${{ vars.DOCKER_USERNAME }}/magicloud
        docker push ${{ vars.DOCKER_USERNAME }}/magicloud
    - name: Build and push Goggles image
      run: |
        cd goggles
        docker build -f ../Goggles.dockerfile -t goggles .
        docker tag goggles ${{ vars.DOCKER_USERNAME }}/goggles
        docker push ${{ vars.DOCKER_USERNAME }}/goggles
