<AuthorizeView>
    <Authorized>
        <Span Float=Float.End>
            <Button Type=ButtonType.Link To="Identity/Account/Manage" Color=Color.Primary Float=Float.Start>Hello, @context.User.Identity?.Name!</Button>
            <Form method="post" action="Identity/Account/LogOut" Float=Float.End>
                <Button Type=ButtonType.Submit Color=Color.Warning Outline Float=Float.End>Log out</Button>
            </Form>
        </Span>
    </Authorized>
    <NotAuthorized>
        <Span Float=Float.End>
            <Button Type=ButtonType.Link To="Identity/Account/Register" Color=Color.Primary>Register</Button>
            <Button Type=ButtonType.Link To="Identity/Account/Login" Color=Color.Info>Log in</Button>
        </Span>
    </NotAuthorized>
</AuthorizeView>
