@inherits LayoutComponentBase

<Layout>
    <Layout>
        <LayoutHeader Background="Background.Primary">
            <Heading Color="TextColor.White">
                <Container>
                    <Span>
                        <Anchor To="/" TextColor=TextColor.Body Style="text-decoration:none">MagiCloud</Anchor>
                        <LoginDisplay />
                    </Span>
                </Container>
            </Heading>
        </LayoutHeader>
        <LayoutContent Background="Background.Body">
            <Container>
                @Body
            </Container>
        </LayoutContent>
    </Layout>
</Layout>